@font-face {
    font-family: happymonkey;
    src: url(http://v15groep1.helenparkhurst.net/MikaGithubtest/Vliegtickets/HappyMonkey-Regular.ttf);
}

/*.TerugCl {
  opacity: 0;
	margin-top: -330px;
	z-index: -5;
	transition-timing-function: linear, step-end, step-end;
}

#Retour:checked ~ .TerugCl {
    transition: opacity 0.5s linear, margin-top 0.5s step-start, z-index 0.5s step-start;
	display: initial;
	position: relative;
}*/

input{
	margin-top:  0.5vh;
	margin-bottom: 0.5vh;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

.knop {
	border: 1px solid white;
}

.VInput{
	height: 1vw;
	width: 10vw;
}

label{
	font-family: happymonkey;
}

.FormWrapper{
	background-color: #11db11;
	border-radius: 10px;
	width: 20vw;
	padding-top:  2vh;
	padding-bottom: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
}