/* afbeeldingen preloaden*/
html:after{
    position:relative;
	z-index:-1;
	display: none;
    content: url(Fotos/Foto1.jpg) url(Fotos/Foto2.jpg) url(Fotos/Foto3.jpg);
}

*{
	font-family: happymonkey;
}
#htmlpag1{
	overflow: hidden
}

.RO{
	position: absolute;
	left: 70vw;
	top: 80vh;
}
#RO2, #RO3{
	top: 100vh;
}

/*::-webkit-scrollbar { 
    display: none; 
}
*/
@font-face {
    font-family: happymonkey;
    src: url(http://v15groep1.helenparkhurst.net/HappyMonkey-Regular.ttf);
}


/*.TerugCl {
opacity: 0;
margin-top: -330px;
z-index: -5;
transition-timing-function: linear, step-end, step-end;
}

#Retour:checked ~ .TerugCl {
transition: opacity 0.5s linear, margin-top 0.5s step-start, z-index 0.5s step-start;
display: initial;
position: relative;
}*/

input{
    margin-top:  0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: 0;
    padding: 0;
}
table{
	border-collapse: collapse;
}

th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

.knop {
	border: none;
}


.PersVer{
    margin-left: 2vw;
}




#Body{
    background: url("Fotos/Foto1.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
	background-attachment: fixed;
	display: inline-block;
}

.Div2{
    left: 14vw;
    position: absolute;
    margin: auto;
    width: 70vw;
}


.FormWrapper2{
	margin: auto;
    background-color: #11db11;
    border-radius: 1vw;
    padding-top:  2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
	position: absolute;
    left: 50vw;
    transform: translate(-50%, 0%) 
}

.FormWrapper, .RO{
    background-color: #11db11;
    border-radius: 1vw;
    padding-top:  2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}